/* Estilo para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilo para el encabezado */
h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* Estilo para los contenedores */
div {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los títulos de sección */
h2 {
  color: #333;
}

/* Estilo para el formulario */
#addFilmForm {
  max-width: 400px;
  margin: 0 auto;
}

/* Estilo para etiquetas y campos de entrada en el formulario */
label,
input,
textarea,
checkbox,
button {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
textarea,
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-top: 5px;
}

button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para la lista de películas */
#films {
  list-style: none;
  padding: 0;
}

/* Estilo para elementos de la lista de películas */
#films li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
